{{- if and (eq .Values.cluster.provider "aws") (.Values.cluster.cloudNativeServices) }}

---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "goquorum-node.fullname" . }}-azure-secret-provider
  namespace: {{ .Release.Namespace }}
spec:
  provider: aws
  parameters:
    objects:  |
      - objectName: {{ include "goquorum-node.fullname" . }}-nodekey
        objectAlias: nodekey
        objectType: secretsmanager
        objectVersion: ""
      - objectName: {{ include "goquorum-node.fullname" . }}-nodekeypub
        objectAlias: nodekey.pub
        objectType: secretsmanager
        objectVersion: ""
      - objectName: {{ include "goquorum-node.fullname" . }}-enode
        objectAlias: enode
        objectType: secretsmanager
        objectVersion: ""
      - objectName: {{ include "goquorum-node.fullname" . }}-accountKeystore
        objectAlias: accountKeystore
        objectType: secretsmanager
        objectVersion: ""
      - objectName: {{ include "goquorum-node.fullname" . }}-accountPrivateKey
        objectAlias: accountPrivateKey
        objectType: secretsmanager
        objectVersion: ""
      - objectName: {{ include "goquorum-node.fullname" . }}-accountPassword
        objectAlias: accountPassword
        objectType: secretsmanager
        objectVersion: ""        
      - objectName: {{ include "goquorum-node.fullname" . }}-accountAddress
        objectAlias: accountAddress
        objectType: secretsmanager
        objectVersion: ""

      {{- if .Values.quorumFlags.privacy }}
      - objectName: {{ include "goquorum-node.fullname" . }}-tmkey
        objectAlias: tm.key
        objectType: secretsmanager
        objectVersion: ""
      - objectName: {{ include "goquorum-node.fullname" . }}-tmkeypub
        objectAlias: tm.pub
        objectType: secretsmanager
        objectVersion: ""
      - objectName: {{ include "goquorum-node.fullname" . }}-tmpassword
        objectAlias: tm.password
        objectType: secretsmanager
        objectVersion: ""
      {{- end }}

{{- end }}
