{{- if and (eq .Values.cluster.provider "azure") (.Values.cluster.cloudNativeServices) }}

---
apiVersion: secrets-store.csi.x-k8s.io/v1alpha1
kind: SecretProviderClass
metadata:
  name: {{ include "goquorum-node.fullname" . }}-azure-secret-provider
  namespace: {{ .Release.Namespace }}
spec:
  provider: azure
  parameters:
    usePodIdentity: "true"           
    useVMManagedIdentity: "false"    
    userAssignedIdentityID: "{{ .Values.azure.identityClientId }}"
    keyvaultName: "{{ .Values.azure.keyvaultName }}"
    tenantId: "{{ .Values.azure.tenantId }}"                      
    cloudName: "AzurePublicCloud"
    objects:  |
      array:
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-nodekey
          objectAlias: nodekey
          objectType: secret     
          objectVersion: ""
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-nodekeypub
          objectAlias: nodekey.pub
          objectType: secret     
          objectVersion: "" 
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-enode
          objectAlias: enode
          objectType: secret     
          objectVersion: ""           
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-accountKeystore
          objectAlias: accountKeystore
          objectType: secret     
          objectVersion: ""
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-accountPrivateKey
          objectAlias: accountPrivateKey
          objectType: secret     
          objectVersion: "" 
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-accountPassword
          objectAlias: accountPassword
          objectType: secret     
          objectVersion: ""           
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-accountAddress
          objectAlias: accountAddress
          objectType: secret     
          objectVersion: ""   

      {{- if .Values.quorumFlags.privacy }}
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-tmkey
          objectAlias: tm.key
          objectType: secret     
          objectVersion: "" 
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-tmkeypub
          objectAlias: tm.pub
          objectType: secret     
          objectVersion: "" 
        - |
          objectName: {{ include "goquorum-node.fullname" . }}-tmpassword
          objectAlias: tm.password
          objectType: secret     
          objectVersion: ""           
      {{- end }}

{{- end }}

