---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cakeshop
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cakeshop
  namespace: monitoring
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cakeshop
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cakeshop
subjects:
  - kind: ServiceAccount
    name: cakeshop
    namespace: monitoring

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cakeshop
  labels:
    app: cakeshop
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cakeshop
  template:
    metadata:
      labels:
        app: cakeshop
    spec:
      serviceAccountName: cakeshop
      containers:
        - name: cakeshop
          image: quorumengineering/cakeshop:0.12.1
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - name: cakeshop-config
              mountPath: /config/cakeshop/
              readOnly: true
          ports:
            - containerPort: 8999
              name: http
              protocol: TCP
          command:
            - /bin/sh
            - -c
          args:
            - |
              exec 
              rm -rf /data/cakeshop/local
              mkdir -p /data/cakeshop/local
              cp /config/cakeshop/application.properties /data/cakeshop/local/application.properties
              cp /config/cakeshop/quorum_nodes.json /data/cakeshop/local/seednodes.json
              java -Xms128M -Xmx128M -Dspring.config.additional-location=file:/data/cakeshop/local/ -Dcakeshop.config.dir=/data/cakeshop -jar /cakeshop/cakeshop.war


      volumes:
        - name: cakeshop-config
          configMap:
            name: quorum-cakeshop-configmap
