
{{- if eq .Values.provider "azure" }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "goquorum-node.fullname" . }}-sa
  namespace: {{ .Release.Namespace }}

{{- end}}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "goquorum-node.fullname" . }}-role
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "goquorum-node.fullname" . }}-rb
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "goquorum-node.fullname" . }}-role
subjects:
- kind: ServiceAccount
  namespace:  {{ .Release.Namespace }}
{{- if eq .Values.provider "azure" }}
  name: {{ include "goquorum-node.fullname" . }}-sa
{{- else -}}
  name: {{ .Values.aws.serviceAccountName }}
{{- end}}

{{- if eq .Values.provider "azure" }}

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ include "goquorum-node.fullname" . }}-storage
  namespace: {{ .Release.Namespace }}
provisioner: kubernetes.io/azure-file
mountOptions:
  - dir_mode=0755
  - file_mode=0755
  - uid=0
  - gid=0
  - mfsymlinks
allowVolumeExpansion: true
parameters:
  skuName: Standard_LRS


{{- else if eq .Values.provider "aws" }}

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ include "goquorum-node.fullname" . }}-storage
  namespace: {{ .Release.Namespace }}
provisioner: kubernetes.io/aws-ebs
reclaimPolicy: Delete
allowVolumeExpansion: true
parameters:
  type: gp2
  fsType: ext4

{{- end }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name:  {{ include "goquorum-node.fullname" . }}-pvc
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ include "goquorum-node.fullname" . }}-storage
  resources:
    requests:
      storage: "{{ .Values.node.storage.pvcSizeLimit }}"

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "goquorum-node.fullname" . }}
  labels:
{{- if eq .Values.provider "azure" }}
    aadpodidbinding: "{{ .Values.azure.identityName }}"
{{- end }}
    app: {{ template "goquorum-node.name" . }}
    chart: {{ template "goquorum-node.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    namespace: {{ .Release.Namespace }}
    component: {{ .Release.Name }}
    app.kubernetes.io/name: {{ include "goquorum-node.fullname" . }}
    helm.sh/chart: {{ include "goquorum-node.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  podManagementPolicy: OrderedReady
  selector:
    matchLabels:
      app: {{ include "goquorum-node.fullname" . }}
      release: {{ .Release.Name }}
      component: {{ .Release.Name }}
      app.kubernetes.io/name: {{ include "goquorum-node.fullname" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  serviceName: {{ include "goquorum-node.fullname" . }}
  template:
    metadata:
      labels:
{{- if eq .Values.provider "azure" }}
        aadpodidbinding: "{{ .Values.azure.identityName }}"
{{- end }}
        app: {{ include "goquorum-node.fullname" . }}
        release: {{ .Release.Name }}
        component: {{ .Release.Name }}
        app.kubernetes.io/name: {{ include "goquorum-node.fullname" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9545"
        prometheus.io/path: "/debug/metrics/prometheus"        
    spec:
{{- if eq .Values.provider "azure" }}
      serviceAccountName: {{ include "goquorum-node.fullname" . }}-sa
{{- else }}
      serviceAccountName: {{ .Values.aws.serviceAccountName }}
{{- end}}
      containers:

      {{- if .Values.nodeFlags.privacy }}
      - name: {{ include "goquorum-node.fullname" . }}-tessera
        image: {{ .Values.image.tessera.repository }}:{{ .Values.image.tessera.tag }}
        imagePullPolicy: {{ .Values.image.tessera.imagePullPolicy }}
        resources:
          requests:
            cpu: "{{ .Values.node.tessera.resources.cpuRequest }}"
            memory: "{{ .Values.node.tessera.resources.memRequest }}"
          limits:
            cpu: "{{ .Values.node.tessera.resources.cpuLimit }}"
            memory: "{{ .Values.node.tessera.resources.memLimit }}"
        env:
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: TESSERA_CONFIG_TYPE
            value: "-09"

        volumeMounts:
          - name: secrets-store
            mountPath: {{ .Values.node.tessera.keysPath }}
            readOnly: true
          - name: data
            mountPath: {{ .Values.node.tessera.dataPath }}
          - name: tessera-peers
            mountPath: /config/tessera-peers
        ports:
          - name: tessera
            containerPort: {{ .Values.node.tessera.port }}
            protocol: TCP
          - name: tessera-tp
            containerPort: {{ .Values.node.tessera.tpport }}
            protocol: TCP
          - name: tessera-q2t
            containerPort: {{ .Values.node.tessera.q2tport }}
            protocol: TCP
        command:
          - /bin/sh
          - -c
        args:
          - |
            exec

            cp {{ .Values.node.tessera.keysPath }}/tm.* {{ .Values.node.tessera.dataPath }}/ ;

                cat <<EOF > {{ .Values.node.tessera.dataPath }}/tessera-config-09.json
                {
                  "useWhiteList": false,
                  "jdbc": {
                    "username": "sa",
                    "password": "",
                    "url": "jdbc:h2:{{ .Values.node.tessera.dataPath }}/tm/db;MODE=Oracle;TRACE_LEVEL_SYSTEM_OUT=0",
                    "autoCreateTables": true
                  },
                  "serverConfigs":[
                  {
                    "app":"ThirdParty",
                    "enabled": true,
                    "serverAddress": "http://{{ include "goquorum-node.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.node.tessera.tpport }}",
                    "communicationType" : "REST"
                  },
                  {
                    "app":"Q2T",
                    "enabled": true,
                    "serverAddress": "http://{{ include "goquorum-node.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.node.tessera.q2tport }}",
                    "sslConfig": {
                      "tls": "OFF"
                    },
                    "communicationType" : "REST"
                  },
                  {
                    "app":"P2P",
                    "enabled": true,
                    "serverAddress": "http://{{ include "goquorum-node.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.node.tessera.port }}",
                    "sslConfig": {
                      "tls": "OFF"
                    },
                    "communicationType" : "REST"
                  }
                  ],
                  "peer": $$(cat /config/tessera-peers/tesseraPeers),
                  "keys": {
                    "passwords": [],
                    "keyData": [
                      {
                        "config": $$(cat {{ .Values.node.tessera.dataPath }}/tm.key),
                        "publicKey": "$$(cat {{ .Values.node.tessera.dataPath }}/tm.pub)"
                      }
                    ]
                  },
                  "alwaysSendTo": []
                }
            EOF

                cat {{ .Values.node.tessera.dataPath }}/tessera-config-09.json
                /tessera/bin/tessera -configfile {{ .Values.node.tessera.dataPath }}/tessera-config-09.json

      {{- end }}

      - name: {{ include "goquorum-node.fullname" . }}-quorum
        image: {{ .Values.image.quorum.repository }}:{{ .Values.image.quorum.tag }}
        imagePullPolicy: {{ .Values.image.quorum.imagePullPolicy }}
        resources:
          requests:
            cpu: "{{ .Values.node.quorum.resources.cpuRequest }}"
            memory: "{{ .Values.node.quorum.resources.memRequest }}"
          limits:
            cpu: "{{ .Values.node.quorum.resources.cpuLimit }}"
            memory: "{{ .Values.node.quorum.resources.memLimit }}"
        env:
          - name: POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: QUORUM_NETWORK_ID
            value: "{{ .Values.node.quorum.networkId }}"
          - name: QUORUM_CONSENSUS
            value: istanbul
        {{- if .Values.nodeFlags.privacy }}
          - name: QUORUM_PTM_URL
            value: "http://{{ include "goquorum-node.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.node.tessera.q2tport }}"
        {{ else }}
          - name: PRIVATE_CONFIG
            value: "ignore"
        {{- end }}
        volumeMounts:
          - name: secrets-store
            mountPath: {{ .Values.node.quorum.keysPath }}
          - name: genesis
            mountPath: /etc/genesis
            readOnly: true
          - name: static-nodes
            mountPath: /config/static
            readOnly: true
          - name: data
            mountPath: {{ .Values.node.quorum.dataPath }}
        ports:
          - name: json-rpc
            containerPort: {{ .Values.node.quorum.rpc.port }}
            protocol: TCP
          - name: ws
            containerPort: {{ .Values.node.quorum.ws.port }}
            protocol: TCP
          - name: graphql
            containerPort: {{ .Values.node.quorum.graphql.port }}
            protocol: TCP
          - name: rlpx
            containerPort: {{ .Values.node.quorum.p2p.port }}
            protocol: TCP
          - name: discovery
            containerPort: {{ .Values.node.quorum.p2p.port }}
            protocol: UDP
        command:
          - /bin/sh
          - -c
        args:
          - |
            exec

            apk add curl
          {{- if .Values.nodeFlags.privacy }}
            until $(curl --output /dev/null --silent --head --fail http://localhost:9000/upcheck); do echo 'waiting for transaction manager to start...'; sleep 5; done;
            echo 'transaction manager is up';
          {{- end }}

            geth --datadir={{ .Values.node.quorum.dataPath }} init {{ .Values.node.quorum.genesisFilePath }}
            cp {{ .Values.node.quorum.keysPath }}/nodekey {{ .Values.node.quorum.dataPath }}/geth/nodekey
            cp /config/static/static-nodes.json {{ .Values.node.quorum.dataPath }}/geth/static-nodes.json

            geth \
            --datadir {{ .Values.node.quorum.dataPath }} \
            --nodiscover --ipcdisable \
            --nat extip:$POD_IP \
            --verbosity {{ .Values.node.quorum.log.verbosity }} \
            --istanbul.blockperiod {{ .Values.node.quorum.miner.blockPeriod }} --mine --minerthreads {{ .Values.node.quorum.miner.threads }} --miner.gasprice 0 --emitcheckpoints \
            --syncmode full --nousb \
            --metrics --pprof --pprofaddr {{ .Values.node.quorum.metrics.pprofaddr | quote }} --pprofport {{ .Values.node.quorum.metrics.pprofport }} \
            --networkid {{ .Values.node.quorum.networkId }} \
            --port {{ .Values.node.quorum.p2p.port }} \
          {{- if .Values.node.quorum.rpc.enabled }}
            --rpc --rpcaddr {{ .Values.node.quorum.rpc.addr }} --rpcport {{ .Values.node.quorum.rpc.port }} --rpccorsdomain {{ .Values.node.quorum.rpc.corsDomain | quote }} --rpcvhosts {{ .Values.node.quorum.rpc.vHosts | quote }} --rpcapi {{ .Values.node.quorum.rpc.api | quote }} \
          {{- end }}
          {{- if .Values.node.quorum.ws.enabled }}
            --ws --wsaddr {{ .Values.node.quorum.ws.addr }} --wsport {{ .Values.node.quorum.ws.port }} --wsorigins {{ .Values.node.quorum.ws.origins | quote }} --wsapi {{ .Values.node.quorum.ws.api | quote }} \
          {{- end }}
          {{- if hasKey .Values.node.quorum.account "unlock" }}
             --unlock {{ .Values.node.quorum.account.unlock }} --allow-insecure-unlock --password {{ .Values.node.quorum.account.password }} \
          {{- end }}

        livenessProbe:
          httpGet:
            path: /
            port: 8545
            httpHeaders:
              - name: Content-Type
                value: application/json
          initialDelaySeconds: 180
          periodSeconds: 60


      volumes:
      - name: secrets-store
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true
          volumeAttributes:
            secretProviderClass: {{ include "goquorum-node.fullname" . }}-azure-secret-provider
      - name: genesis
        configMap:
          name: goquorum-genesis
          items:
            - key: genesis.json
              path: genesis.json
      - name: static-nodes
        configMap:
          name: goquorum-node-enodes
          items:
            - key: static-nodes.json
              path: static-nodes.json
      - name: data
        persistentVolumeClaim:
          claimName: {{ include "goquorum-node.fullname" . }}-pvc
      {{- if .Values.nodeFlags.privacy }}
      - name: tessera-peers
        configMap:
          name: tessera-peers
          items:
            - key: tesseraPeers
              path: tesseraPeers
      {{- end }}

